.zen-mode {
  .sidebar-2K8pFh,
  .membersWrap-2h-GB4,
  .guilds-1SWlCJ,
  .title-3qD0b- {
    display: none;
  }
  
  .base-3dtUhz {
    left: 0;
  }
  
  .chatContent-a9vAAp,
  form {
    padding-left: 15%;
    padding-right: 15%;
  }
}